table {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
}

input {
    display: inline-block;
    text-align: right;
}

#mydiv {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 50px;

    z-index: 9999;
    background-color: #f1f1f1;
    text-align: left;
    border: 1px solid #d3d3d3;
    resize: vertical;
    overflow: auto;
}

#mydivheader {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    cursor: move;
    z-index: 99999;
    background-color: #2196F3;
    color: #fff;
}